<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" href = "/static/style.css">
</head>
<body>

    <div class= "header"><h1>Here are the Links for all colors</h1></div>

    <ul>
        {% for link in links %}
        {& for set http://0.0.0.0:5000/ + links}
        <li><a href = {{link}}></a>Click here for {{links}}</li>
        {% endfor %}
    </ul>
    



</body>
</html>